## descriptive data exploration
* study the trending of correlation

### feature ranking
* correlation btw each feature and unit price
* random forest ranking

In [20]:
%load_ext autoreload
# always reload modules marked with "%aimport"
%autoreload 1

import os,sys
import numpy as np
import pandas as pd

# add the 'src' directory as one where we can import modules
src_dir = os.path.join(os.getcwd(), '../..', 'src')
sys.path.append(src_dir)

%aimport plot_utils
from plot_utils import *
%aimport preprocessing
from preprocessing import *
%aimport data_source
from data_source import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
ds = DataSource(host='localhost',port=5432, username='postgres', password='', database='sdra')
ds.show_views()
ds.update_views()

df_transaction = ds.get_view_df('property_address_transactions')
df_property = ds.get_view_df('property_addresses')
print(df_transaction.shape)
print(df_property.shape)

connect to database postgresql://postgres:@localhost:5432/sdra
['properties', 'property_features', 'transactions', 'property_addresses', 'property_address_transactions', 'property_estimate']
execute  c:\wenyan\dse_capstone\database\preprocess.sql
(1512560, 16)
(709325, 7)

### 2 ways to instance Preprocess
#### instance with DataSource
* dataframes will be loaded from database
* dataframes will be joined to extract various features
#### instance with existing dataframe
* avoid loading data from database

### pp.dataset(feature='delivered', valid=True)
* by default without any param, dataset func will load all features including delivered and underwork and all records
* feature: delivered, underwork, all
* valid=True: only valid records, outliers and invalid values are removed

In [9]:
pp = Preprocess(source=ds, transaction='property_address_transactions', property='property_addresses')
df_all_valid = pp.dataset(feature='delivered', valid=True)

transforming view
transforming pool
transforming date
transforming year_built
transforming sold_year
transforming sold_age
making sqft_zip_avg
making sqft_price_zip_avg
making sold_price_zip_avg
making sale_count_zip
making prop_count_zip
Warning: feature 'prop_count_zip' is missing due to preprocess doesn't have df_property

In [10]:
print(df_all_valid.shape)
df_all_valid[:3]

(1446992, 9)

,sqft_zip_avg,num_bath,sqft,num_bed,pool,view,sqft_price,sold_price_zip_avg,sqft_price_zip_avg
0,1490.440277,1.0,1120,3.0,0,0,399,213934.491731,146.430716
1,1490.440277,2.0,1050,3.0,0,1,314,213934.491731,146.430716
2,1490.440277,2.0,1204,3.0,0,0,423,213934.491731,146.430716

In [21]:
# instance with existing dataframe
pp1 = Preprocess(df_transaction, df_property)
df_all_valid1 = pp1.dataset(feature='delivered', valid=True)
print(df_all_valid1.shape)
df_all_valid1[:3]

transforming view
transforming pool
transforming date
transforming year_built
transforming sold_year
transforming sold_age
making sqft_zip_avg
making sqft_price_zip_avg
making sold_price_zip_avg
making sale_count_zip
making prop_count_zip
(1446992, 9)

,sqft_zip_avg,num_bath,sqft,num_bed,pool,view,sqft_price,sold_price_zip_avg,sqft_price_zip_avg
0,1490.440277,1.0,1120,3.0,0,0,399,213934.491731,146.430716
1,1490.440277,2.0,1050,3.0,0,1,314,213934.491731,146.430716
2,1490.440277,2.0,1204,3.0,0,0,423,213934.491731,146.430716